/*--------------
    RESET
--------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*--------------
     DEBUG
---------------*/




/*--------------
     LAYOUT
---------------*/
body {
    background-color: lightgray;
}

.container {
    max-width: 1340px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex-grow: 1;
}

.img-fluid {
    max-width: 100%;
}

footer {
    background-color: blueviolet;
}
/*--------------
      HEADER
---------------*/

header {
    background-color: white;
    text-align: center;
    padding: 14px;
    color: orange;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

/*------------
     MAIN
-------------*/
main {
    padding: 26px
}

.intro h2 {
margin-top: 12px;
margin-bottom: 12px;
}

.intro h2 > span {
    display: none;
}

h4 {
    color: grey;
}

.intro .col-video, 
.intro .col-details {
    width: 100%;
}

.presentation h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.col-img {
    padding: 0 24px;
}

/*--------------
   RESPONSIVE
--------------*/
/*   TABLET    */
@media screen and (min-width: 768px) {
    header {
        text-align: left;
    }
    .intro h2 > span {
        display: inline;
    }
}

/*    DESKTOP   */
@media screen and (min-width: 992px) {
    .intro .col-video {
        width: 70%;
    }
    .intro .col-details {
        width: 30%;
    }
}